*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

body{
  background-image: url(../img/fondo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

main{
  width: 100%;
  padding: 20px;
  margin: auto;
  margin-top: 100px;
}

.contenedor__todo{
  width: 100%;
  max-width: 800px;
  margin: auto;
  position: relative;
}

.caja__trasera{
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(5, 5, 5, 0.5);

}

.caja__trasera div{
  margin: 100px 40px;
  color: white;
  transition: all 500ms;
}


.caja__trasera div p,
.caja__trasera button{
  margin-top: 30px;
}

.caja__trasera div h3{
  font-weight: 400;
  font-size: 26px;
}

.caja__trasera div p{
  font-size: 16px;
  font-weight: 300;
}

.caja__trasera button{
  padding: 10px 40px;
  border: 2px solid #fff;
  font-size: 14px;
  background: transparent;
  font-weight: 600;
  cursor: pointer;
  color: white;
  outline: none;
  transition: all 300ms;
}

.caja__trasera button:hover{
  background: #fff;
  color: #060606;
}

/*Formularios*/

.contenedor__login-register{
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 380px;
  position: relative;
  top: -185px;
  left: 10px;

  /*La transicion va despues del codigo JS*/
  transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.contenedor__login-register form{
  width: 100%;
  padding: 80px 20px;
  background: white;
  position: absolute;
  border-radius: 20px;
}

.contenedor__login-register form h2{
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  color: #040505;
}

.contenedor__login-register form input{
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  border: none;
  background: #F2F2F2;
  font-size: 16px;
  outline: none;
}

.contenedor__login-register form button{
  padding: 10px 40px;
  margin-top: 40px;
  border: none;
  font-size: 14px;
  background: #050606;
  font-weight: 600;
  cursor: pointer;
  color: white;
  outline: none;
}




.formulario__login{
  opacity: 1;
  display: block;
}
.formulario__register{
  display: none;
}



@media screen and (max-width: 850px){

  main{
      margin-top: 50px;
  }

  .caja__trasera{
      max-width: 350px;
      height: 300px;
      flex-direction: column;
      margin: auto;
  }

  .caja__trasera div{
      margin: 0px;
      position: absolute;
  }


  /*Formularios*/

  .contenedor__login-register{
      top: -10px;
      left: -5px;
      margin: auto;
  }

  .contenedor__login-register form{
      position: relative;
  }
}

/* Footer */
footer.footer {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  background-color: #ebe8e8;
  gap: 2rem;
}

footer.footer .footer-btns {
  width: 55%;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: rgb(114, 10, 10);
  font-weight: 500;
}

/*=============== FOOTER ===============*/
.footer__container {
  row-gap: 2.5rem;
}

.footer__logo {
  color: var(--first-color);
  font-size: var(--h3-font-size);
  font-weight: var(--font-semi-bold);
  display: inline-flex;
  align-items: center;
  column-gap: .25rem;
  margin-bottom: .75rem;
}

.footer__logo i {
  font-size: 1.25rem;
}

.footer__description, 
.footer__link {
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
}

.footer__content, 
.footer__links {
  display: grid;
}

.footer__content {
  grid-template-columns: repeat(2, max-content);
  gap: 2.5rem 4rem;
}

.footer__title {
  font-size: var(--h3-font-size);
  margin-bottom: 1rem;
}

.footer__links {
  row-gap: .5rem;
}

.footer__link {
  color: var(--text-color);
  transition: .3s;
}

.footer__link:hover {
  color: var(--title-color);
}

.footer__social {
  display: flex;
  column-gap: 1rem;
}

.footer__social-link {
  font-size: 1.25rem;
  color: var(--text-color);
  transition: .3s;
}

.footer__social-link:hover {
  color: var(--title-color);
}

.footer__info, 
.footer__privacy {
  display: flex;
}

.footer__info {
  padding-bottom: 6rem;
  margin-top: 5.5rem;
  flex-direction: column;
  text-align: center;
  row-gap: 1.5rem;
}

.footer__copy,
.footer__privacy a {
  font-size: var(--smaller-font-size);
  font-weight: var(--font-medium);
  color: var(--text-color);
}

.footer__privacy {
  justify-content: center;
  column-gap: 1.25rem;
}

header {
	width:100%; /* Establecemos que el header abarque el 100% del documento */
	overflow:hidden; /* Eliminamos errores de float */
	background:#252932;
	margin-bottom:20px;
}

.wrapper {
	width:90%; /* Establecemos que el ancho sera del 90% */
	max-width:1000px; /* Aqui le decimos que el ancho máximo sera de 1000px */
	margin:auto; /* Centramos los elementos */
	overflow:hidden; /* Eliminamos errores de float */
}

header .logo {
	color:#f2f2f2;
	font-size:50px;
	line-height:200px;
	float:left;
}

header nav {
	float:right;
	line-height:200px;
}

header nav a {
	display:inline-block;
	color:#fff;
	text-decoration:none;
	padding:10px 20px;
	line-height:normal;
	font-size:20px;
	font-weight:bold;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
}

header nav a:hover {
	background:#f56f3a;
	border-radius:50px;
}
